/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  font-family: var(--font-family), sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: var(--background-image) no-repeat top center;
  background-size: auto 375px;
  background-attachment: fixed;
  margin: auto;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.decorated-zone::before {
  position: absolute;
  content: '';
  block-size: 25px;
  inline-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--border-color);
  border-inline-end: 1px solid var(--border-color);
}

.decorated-zone::after {
  position: absolute;
  content: '';
  block-size: 25px;
  inline-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--border-color);
  border-inline-start: 1px solid var(--border-color);


}

.decoration-title {
  position: absolute;
  text-transform: uppercase;
  color: var(--decor-color);
  block-size: 26px;
  inline-size: 33px;
  inset-block-start: 10px;
  inset-inline-end: 38px;
}

.decoration-title::after {
  position: absolute;
  content: '';
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decor-color);
  background-color: var(--decor-color);
}


.header__theme-menu {
  margin-top: 39px;
  margin-right: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 11.5px;
  list-style-type: none;
}

.header__theme-menu-item {

}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  color: var(--decor-color);
  border: none;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-color);
}

.header__theme-menu-button:focus {
  border: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button_type_light {

}

.header__theme-menu-button_active {
  border: 1px solid var(--border-color);
}

.header__theme-menu-button_type_auto {

}

.header__theme-menu-button_type_dark {
  
}